<h1>show#index</h1>

<% @rankings.each do |ranking| %>
	<div class='subject'>
		rank:<%= ranking.rank %>
		point:<%= ranking.point %>
		<a href="<%= ranking.subject.site_url %>"><%= ranking.subject.title %></a>
		<%= ranking.subject.content[0..100] %>
	</div>
<% end %>
