<h3 class="entry">ブログランキング&nbsp;<a href="/blog_rankings.rss"><%= image_tag "icon/rss.png" %></a></h3>

<table class="table table-striped table-bordered table-condensed">
    <thead>
    </thead>
    <tbody>
        <% @rankings.each do |ranking| %>
        <tr>
        <td class="entry_num">
            <%= ranking.rank %>位&nbsp;<br />
        </td>
        <td class="entry_data">
            <%= link_to ranking.blog_point.blog.name, ranking.blog_point.blog.site_url, :class=>"entry_title", :target=>["_blank"] %><br />
            <span class="entry_point"><%= ranking.blog_point.point %>ポイント</span>
        </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @rankings %>
