<%= form_for @search_form, url: blog_rankings_path, html: {method: :get, class: "navbar-search pull-left"} do |f| %>
    <%= f.search_field :q, :class => "search-query span2", :placeholder => "Search"%>
    <%= f.hidden_field :kind, {:name=>'kind', :value => @search_from_params[:kind]} %>
    <%= f.hidden_field :yy, {:name=>'yy', :value => @search_from_params[:day].year} %>
    <%= f.hidden_field :mm, {:name=>'mm', :value => @search_from_params[:day].month} %>
    <%= f.hidden_field :dd, {:name=>'dd', :value => @search_from_params[:day].day} %>
<% end %>

