<h1>show#index</h1>

<% @rankings.each do |ranking| %>
	<div class='blog'>
		rank:<%= ranking.rank %>
		point:<%= ranking.point %>
		<%= link_to ranking.blog.name, ranking.blog.site_url, :target=>["_blank"] %>
	</div>
<% end %>
