<h3 class="entry">記事ランキング&nbsp;<a href="/subject_rankings.rss"><%= image_tag "icon/rss.png" %></a></h3>

<table class="table table-striped table-bordered table-condensed">
    <thead>
    </thead>
    <tbody>
        <% @rankings.each do |ranking| %>
        <tr>
        <td class="entry_num">
            <%= ranking.rank %>位&nbsp;<br />
        </td>
        <td class="entry_data">
            <%= ranking.subject_point.point %>ポイント
            <%= link_to ranking.subject_point.subject.title, ranking.subject_point.subject.site_url, :class=>"entry_title", :target=>["_blank"] %><br />
            <%= link_to ranking.subject_point.subject.blog.name, ranking.subject_point.subject.blog.site_url, :class=>"entry_site", :target=>["_blank"] %>
        </td>
        </tr>
        <% end %>
    </tbody>
</table>
<%= paginate @rankings %>
