<h1>show#index</h1>

<% @rankings.each do |ranking| %>
	<div class='subject'>
		rank:<%= ranking.rank %>
		point:<%= ranking.point %>
		<%= link_to ranking.subject.title, ranking.subject.site_url, :target=>["_blank"] %>
		<%= ranking.subject.content[0..100] %>
	</div>
<% end %>
