<h3 class="entry">新着一覧&nbsp;<a href="/subjects/feed.rss"><%= image_tag "icon/rss.png" %></a></h3>

<table class="table table-striped table-bordered table-condensed">
    <thead>
    </thead>
    <tbody>
    <% @subjects.each do |subject| %>
        <tr><td>
            <%= link_to subject.title, root_blog_site_redirect_path(subject), :class=>"entry_title", :target=>["_blank"] %><br />
            <%= link_to subject.blog.name, subject.blog.site_url, :class=>"entry_site", :target=>["_blank"] %>
            <span class="entry_time"><%= subject.created_at.strftime("%H:%m")%> </span>
        </td></tr>
    <% end %>
    </tbody>
</table>
<%= paginate @subjects %>
