<% if blog_rankings.size  == 0 then %>
    ランキング集計中です
<% else  %>
<table class="table table-striped table-bordered table-condensed">
    <thead>
    </thead>
    <tbody>
        <% blog_rankings[0..9].each do |ranking| %>
        <tr>
        <td class="entry_num">
            <%= ranking.rank %>位&nbsp;<br />
        </td>
        <td class="entry_data">
            <%= link_to ranking.blog_point.blog.name, ranking.blog_point.blog.site_url, :class=>"entry_title", :target=>["_blank"] %><br />
            <span class="entry_point"><%= ranking.blog_point.point %>ポイント</span>
        </td>
        </tr>
        <% end %>
    </tbody>
</table>
<div align="right">
    <%= blog_ranking_link_to '続きを見る', target_date, :class => 'btn' %>
</div>
<% end %>
