<% if subject_rankings.size  == 0 then %>
    ランキング集計中です
<% else  %>
<table class="table table-striped table-bordered table-condensed">
    <thead>
    </thead>
    <tbody>
        <% subject_rankings[0..9].each do |ranking| %>
        <td class="entry_num">
            <%= ranking.rank %>位&nbsp;<br />
        </td>
        <td class="entry_data">
            <%= link_to ranking.subject_point.subject.title, ranking.subject_point.subject.site_url, :class=>"entry_title", :target=>["_blank"] %><br />
            <span class="entry_point"><%= ranking.subject_point.point %>ポイント</span>
            <%= link_to ranking.subject_point.subject.blog.name, ranking.subject_point.subject.blog.site_url, :class=>"entry_site", :target=>["_blank"] %>
        </td>
        </tr>
        <% end %>
    </tbody>
</table>
<div align="right">
    <%= subject_ranking_link_to '続きを見る', target_date, :class => 'btn' %>
</div>
<% end  %>
