<h3 class="entry">新着一覧&nbsp;<a href="/subjects/feed.rss"><%= image_tag "icon/rss.png" %></a></h3>
<table class="table table-striped table-bordered table-condensed">
    <thead>
    </thead>
    <tbody>
    <% @subjects[0..9].each do |subject| %>
        <tr><td>
            <%= link_to subject.title, root_blog_site_redirect_path(subject), :class=>"entry_title", :target=>["_blank"] %><br />
            <%= link_to subject.blog.name, subject.blog.site_url, :class=>"entry_site", :target=>["_blank"] %>
            <span class="entry_time"><%= subject.created_at.strftime("%H:%m")%> </span>
        </td></tr>
    <% end %>
    </tbody>
</table>
<div align="right">
    <a class="btn" href=<%= subjects_index_path(:page => 1) %>>続きを見る</a>
</div>

<h3 class="entry">記事ランキング&nbsp;<a href="/subject_rankings.rss"><%= image_tag "icon/rss.png" %></a></h3>
<div class="tabbable">
    <ul class="nav nav-tabs" id="subject_tab">
        <li class="active"><a href="#tab1" data-jitoggle="tab">今日</a></li>
        <li><a href="#tab2" data-toggle="tab">昨日</a></li>
        <li><a href="#tab3" data-toggle="tab">週間</a></li>
        <li><a href="#tab4" data-toggle="tab">月間</a></li>
    </ul>
    <div id="subject-tab-content" class="tab-content">
        <div class="tab-pane active" id="tab1">
            <%= render :partial => "root/ranking_subject", :locals => {:subject_rankings => @subject_rankings, :target_date => "today"} %>
        </div>
        <div class="tab-pane" id="tab2">
            <%= render :partial => "root/ranking_subject", :locals => {:subject_rankings => @yesterday_subject_rankings, :target_date => "yesterday"} %>
        </div>
        <div class="tab-pane" id="tab3">
            <%= render :partial => "root/ranking_subject", :locals => {:subject_rankings => @week_subject_rankings, :target_date => "week"} %>
        </div>
        <div class="tab-pane" id="tab4">
            <%= render :partial => "root/ranking_subject", :locals => {:subject_rankings => @month_subject_rankings, :target_date => "month"} %>
        </div>
    </div>
</div>

<h3 class="entry">ブログランキング&nbsp;<a href="/blog_rankings.rss"><%= image_tag "icon/rss.png" %></a></h3>
<div class="tabbable">
    <ul class="nav nav-tabs" id="blog_tab">
        <li class="active"><a href="#blog_tab1" data-jitoggle="tab">今日</a></li>
        <li><a href="#blog_tab2" data-toggle="tab">昨日</a></li>
        <li><a href="#blog_tab3" data-toggle="tab">週間</a></li>
        <li><a href="#blog_tab4" data-toggle="tab">月間</a></li>
    </ul>
    <div id="subject-tab-content" class="tab-content">
        <div class="tab-pane active" id="blog_tab1">
            <%= render :partial => "root/ranking_blog", :locals => {:blog_rankings => @blog_rankings, :target_date => "today"} %>
        </div>
        <div class="tab-pane" id="blog_tab2">
            <%= render :partial => "root/ranking_blog", :locals => {:blog_rankings => @yesterday_blog_rankings, :target_date => "yesterday"} %>
        </div>
        <div class="tab-pane" id="blog_tab3">
            <%= render :partial => "root/ranking_blog", :locals => {:blog_rankings => @week_blog_rankings, :target_date => "week"} %>
        </div>
        <div class="tab-pane" id="blog_tab4">
            <%= render :partial => "root/ranking_blog", :locals => {:blog_rankings => @month_blog_rankings, :target_date => "month"} %>
        </div>
    </div>
</div>
