<%= form_for @search_form, url: subjects_index_path, html: {method: :get, class: "navbar-search pull-left"} do |f| %>
    <%= f.search_field :q, :class => "search-query span2", :placeholder => "Search"%>
<% end %>
