a.entry_title {font-size: 15px;}
a.entry_site {font-size: 12px; color: rgb(102, 153, 170);}
span.entry_time {font-size: 12px;}
span.entry_point {font-size: 12px;}
td.entry_num {width: 40px; text-align: center;}
td.entry_data {}

.nav-button { padding: 10px 15px; }

h3.entry{
	background-color: rgb(0, 118, 149);
	border-color: rgb(0, 118, 149);
	border-style: solid;
	color: white;
}
