<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "2chまとめストリーム" %></title>
    <%= csrf_meta_tags %>

    <%= analytics_init if Rails.env.production? %>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">2chまとめストリーム</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "新着一覧", subjects_index_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">記事ランキング<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= subject_ranking_link_to '今日', 'today' %></li>
                  <li><%= subject_ranking_link_to '昨日', 'yesterday' %></li>
                  <li><%= subject_ranking_link_to '週間', 'week' %></li>
                  <li><%= subject_ranking_link_to '月間', 'month' %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">ブログランキング<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= blog_ranking_link_to '今日', 'today' %></li>
                  <li><%= blog_ranking_link_to '昨日', 'yesterday' %></li>
                  <li><%= blog_ranking_link_to '週間', 'week' %></li>
                  <li><%= blog_ranking_link_to '月間', 'month' %></li>
                </ul>
              </li>
              <li><%= render :file => @search_from_path %></li>
              <li class="nav-button"><a href="http://b.hatena.ne.jp/entry/http://www.2chstream.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="2chまとめストリーム" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        <a href="/"><%= logo_tag %></a>
        <div class="description">2ch系まとめサイトの更新をまとめました。ランキング表示もしています。</div">
        <div class="row">
          <div class="span9">
            <%#= bootstrap_flash %>
            <%= yield %>
          </div>
          <!--
          <div class="span3">
            <div class="well sidebar-nav">
              <h3>Sidebar</h3>
              <ul class="nav nav-list">
                <li class="nav-header">Sidebar</li>
                <li><%= link_to "Link1", "/path1"  %></li>
                <li><%= link_to "Link2", "/path2"  %></li>
                <li><%= link_to "Link3", "/path3"  %></li>
              </ul>
            </div>
          </div>
          -->
        </div><!--/row-->

      <br />
      <footer>
      <!--<p>&copy; Company 2013</p>-->
        <p>2013〜 2chまとめストリーム</p>
      </footer>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <%= javascript_include_tag "application" %>

  </body>
</html>
