      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">2chまとめストリーム</a>
          <div class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "新着一覧", subjects_index_path %></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">記事ランキング<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= subject_ranking_link_to '今日', 'today' %></li>
                  <li><%= subject_ranking_link_to '昨日', 'yesterday' %></li>
                  <li><%= subject_ranking_link_to '週間', 'week' %></li>
                  <li><%= subject_ranking_link_to '月間', 'month' %></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">ブログランキング<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><%= blog_ranking_link_to '今日', 'today' %></li>
                  <li><%= blog_ranking_link_to '昨日', 'yesterday' %></li>
                  <li><%= blog_ranking_link_to '週間', 'week' %></li>
                  <li><%= blog_ranking_link_to '月間', 'month' %></li>
                </ul>
              </li>
              <li><%= render :file => @search_from_path %></li>
              <li class="nav-button"><a href="http://b.hatena.ne.jp/entry/http://www.2chstream.com/" class="hatena-bookmark-button" data-hatena-bookmark-title="2chまとめストリーム" data-hatena-bookmark-layout="standard-balloon" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a><script type="text/javascript" src="http://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
